# Default ignored files
/shelf/
/workspace.xml
# CodeStream ignored files
/../../Handin2\.idea/codestream.xml
# Datasource local storage ignored files
/../../../../../../:\Users\Olli_\IdeaProjects\Handin2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
